<!--TODO https://developers.google.com/apps-script/guides/dialogs#code.gs_2 を実装する-->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons.css">
    <script>
        // IMPORTANT: Replace the value for DEVELOPER_KEY with the API key obtained
        // from the Google Developers Console.
        // const DEVELOPER_KEY = 'AIzaSyDwRLO8uKDHOIjBztYPJka7FMe_2z0A9Gg';
        const DIALOG_DIMENSIONS = {width: 600, height: 425};
        let pickerApiLoaded = false;

        /**
         * Loads the Google Picker API.
         */
        function onApiLoad() {
            gapi.load('picker', {
                'callback': function () {
                    pickerApiLoaded = true;
                }
            });
        }

        /**
         * Gets the user's OAuth 2.0 access token from the server-side script so that
         * it can be passed to Picker. This technique keeps Picker from needing to
         * show its own authorization dialog, but is only possible if the OAuth scope
         * that Picker needs is available in Apps Script. Otherwise, your Picker code
         * will need to declare its own OAuth scopes.
         */
        function getOAuthToken() {
            google.script.run.withSuccessHandler(createPicker)
                .withFailureHandler(showError).getOAuthToken();
        }

        /**
         * Creates a Picker that can access the user's spreadsheets. This function
         * uses advanced options to hide the Picker's left navigation panel and
         * default title bar.
         *
         * @param {string} token An OAuth 2.0 access token that lets Picker access the
         *     file type specified in the addView call.
         */
        function createPicker(token) {
            if (!pickerApiLoaded || !token) {
                showError('Unable to load the file picker.');
                return;
            }

            const docsView = new google.picker.DocsView(google.picker.ViewId.FOLDERS)
                .setIncludeFolders(true)
                .setSelectFolderEnabled(true);

            const picker = new google.picker.PickerBuilder()
                .addView(docsView)
                .enableFeature(google.picker.Feature.NAV_HIDDEN)
                .hideTitleBar()
                .setOAuthToken(token)
                // .setDeveloperKey(DEVELOPER_KEY)
                .setCallback(pickerCallback)
                .setOrigin(google.script.host.origin)
                .setSize(DIALOG_DIMENSIONS.width - 2, DIALOG_DIMENSIONS.height - 2)
                .build();

            picker.setVisible(true);
        }


        /**
         * A callback function that extracts the chosen document's metadata from the
         * response object. For details on the response object, see
         * https://developers.google.com/picker/docs/result
         *
         * @param {object} data The response object.
         */

        // TODO コールバックの中身を GAS 側に渡し、 google.script.run.withSuccessHandler(textract)　などで起動する
        function pickerCallback(data) {
            const action = data[google.picker.Response.ACTION];
            // console.log(action);
            if (action === google.picker.Action.PICKED) {
                const doc = data[google.picker.Response.DOCUMENTS][0];
                const id = doc[google.picker.Document.ID];
                const url = doc[google.picker.Document.URL];
                const title = doc[google.picker.Document.NAME];
                document.getElementById("folderId").value = id;
                document.getElementById('result').innerHTML =
                    '<b>You chose:</b><br>Name: <a href="' + url + '">' + title +
                    '</a><br>ID: ' + id;

            } else if (action === google.picker.Action.CANCEL) {
                document.getElementById('result').innerHTML = 'Picker canceled.';
            }
        }

        function execTextract(){
            const folderId = document.getElementById("folderId").value;
            google.script.run.main(folderId);
        }

        /**
         * Displays an error message within the #result element.
         *
         * @param {string} message The error message to display.
         */
        function showError(message) {
            document.getElementById('result').innerHTML = 'Error: ' + message;
        }
    </script>
</head>
<body>
<div>
    <button onclick="getOAuthToken()">Select a file</button>
    <p id="result"></p>

    <button onclick="execTextract()">Execute Textract</button>
    <input type="hidden" id="folderId">
</div>
<script src="https://apis.google.com/js/api.js?onload=onApiLoad"></script>
</body>
</html>
