<!--TODO https://developers.google.com/apps-script/guides/dialogs#code.gs_2 を実装する-->
<!DOCTYPE html>
<html lang="jp">
<head>
    <title>Simple Textract</title>
    <link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons.css">
    <?!= include('stylesheet'); ?>
</head>
<body onload="getUserLocale()">
    <div>
        <button onclick="showPicker()">Select a file</button>
        <p id="result"></p>

        <button onclick="execTextract()">Execute Textract</button>
        <input type="hidden" id="folderId">
        <div id="progress"></div>
    </div>
    <script src="https://apis.google.com/js/api.js?onload=onApiLoad"></script>
    <?!= include('javascript'); ?>
</body>
</html>
